@import './variables';

:root {
	--title: #{$title};
	--nav_bg: #{$nav_bg};
	--background: #{$background};

	--filter_background: #{$filter_background};
	--filter_text: #{$filter_text};
	--filter_border: #{$filter_border};

	--card_title: #{$card_title};
	--card_background: #{$card_background};
	--card_rarity: #{$card_rarity};
	--card_price: #{$card_price};
	--card_qty: #{$card_qty};
	--card_button: #{$card_button};
	--card_button_selected: #{$card_button_selected};
	--card_button_text: #{$card_button_text};
	--card_button_selected_text: #{$card_button_selected_text};
	--card_button_unavailable: #{$card_button_unavailable};

	--cart_bg: #{$cart_bg};
	--cart_button_bg: #{$cart_button_bg};
	--cart_text: #{$cart_text};
	--cart_noti: #{$cart_noti};
	--cart_cancel: #{$cart_cancel};
	--cart_clear: #{$cart_clear};

	--total_item_value: #{$total_item_value};
	--total_price_value: #{$total_price_value};
	--pay: #{$pay};

	--item_per_card: #{$item_per_card};
	--item_quantity_left: #{$item_quantity_left};
	--item_card_left: #{$item_card_left};
	--item_card_left_text: #{$item_card_left_text};
	--item_quantity: #{$item_quantity};
	--item_price: #{$item_price};
	--item_can_go: #{$item_can_go};
	--item_cannot_go: #{$item_cannot_go};
	--item_not_avaiable: #{$item_not_avaiable};
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: var(--background);
	font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}
