// Colors
$background: white;
$background_secondary: #e5e5e5;

$button: #fdce29;
$button_selected: #1d1c1c;

$button_text: #1d1c1c;
$button_selected_text: #ffffff;

$primary: white;
$secondary: #298bfd;
$alert: red;
$success: #5ddd48;

$color_base: black;
$color_1: #6a6969;
$color_2: #bcbbbb;
$color_3: #0f6db0;
$color_4: #fd2929;

$title: $color_base;
$nav_bg: $background;
$background: $background_secondary;

$filter_background: $primary;
$filter_text: $color_2;
$filter_border: $color_2;

$card_title: $color_base;
$card_rarity: $color_3;
$card_price: $color_1;
$card_qty: $color_1;
$card_button: $button;
$card_button_selected: $button_selected;
$card_button_text: $button_text;
$card_button_selected_text: $button_selected_text;

$cart_bg: $background;
$cart_button_bg: $secondary;
$cart_text: $primary;
$cart_noti: $alert;
$cart_cancel: $alert;
